.links-to-pages {
    margin-left: 0;
    justify-content: center;
}

.title, h3{
    letter-spacing: 0;
    margin-bottom: 1rem;
}

.text {
    font-size: 1.3rem;
    line-height: 2.3rem;
    text-shadow: 0.2px 0.2px black;
}

/* .btn {
    max-width: 20%;
    padding: 1.3rem 0rem 1.3rem 0rem;
} */


@media (min-width: 320px) and (max-width: 480px) {

    .text {
        font-size: 1.2rem;
    }

    .title-and-text {
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }

}

@media (min-width: 481px) and (max-width: 767px) {

    .title-and-text {
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }

}